<h1>Nossos Empregados</h1>

<table *ngIf="employees.length > 0">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index;" [id]="i">
            <td>{{employee.name}}</td>
            <td [style.color]="getSalaryCollor(employee)">{{employee.salary}}</td>
            <td>
                <button (click)="removeEmploye(i)">Remove</button>
                
            </td>
        </tr>
    </tbody>


</table>

